RewriteEngine On
RewriteBase /portofolio3/

# Approve folder static
RewriteRule ^(assets|css|js|images|vendor|api)/ - [L]



# URL
# /about  → index.php?page=about
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ index.php?page=$1 [L,QSA]


# SECURITY
# Izinkan hanya page yang boleh diakses langsung
RewriteRule ^(home|about|projects|contact|404)\.php$ - [L]

# Izinkan index.php
RewriteRule ^index\.php$ - [L]

# Blokir semua file PHP lain
RewriteRule ^.*\.php$ - [F]


# Matikan directory listing
Options -Indexes


# PDF inline
<FilesMatch "\.pdf$">
    ForceType application/pdf
    Header set Content-Disposition "inline"
</FilesMatch>
